body {
    margin: 0px; 
}


.top-container {
    margin: 0;
    height: 750px;
    padding-top: 10px;
    background-image: url(../Image/pexels-evgeny-tchebotarev-4101555.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 550%;
    color: white;
    float: initial;
}


p1 {
    font-family: 'Raleway', sans-serif;
    font-size: 250%;
}


.middle-container {
    background-color: #ceebfd;
}


.profile-container {
    background-color: #e7f5fe;
}


.profile-img {
    width: 45%;
    margin: 100px 10px 100px 150px;
}


.about-me {
    margin: 100px 110px 100px 10px;
    width: 80%;
    background-color: #e7f5fe;
    text-align: justify;
    /* margin-right: auto;
    margin-left: auto; */
}


p2 {
    font-size: 150%;
    font-family: 'Khula', sans-serif;
    text-align: justify;
}


.skills-languages {
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    line-height: 3;
}



h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 225%;
}


p3 {
    font-size: 130%;
    font-family: 'Khula', sans-serif;
}


.education {
    text-align: center;
    line-height: 2;
}


h3 {
    font-family: 'Khula', sans-serif;
    font-size: 130%;
    font-weight: lighter;
}


p4 {
    font-family: 'Khula', sans-serif;
    font-size: 130%;
    text-align: center;
}


.other-education {
    text-align: center;
}


.other-skills {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 3;
}


.bottom-container {
    background-color: #9dd7fb;
    padding: 40px 0 5px;
    text-align: center;
}


h5 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    margin: 5px 0;
}


h6 {
    font-size: 15px;
    font-family: 'Raleway';
    margin: 25px 0 0 25px;
}

.social-media-btn {
    background-color: #9dd7fb;
    border: 0ch;
    margin: 20px 1px ;
}

.social-media-btn:hover {
    background-color: #b6e1fc;
}

.facebook-img {
    width: 60%;
}


.instagram-img {
    width: 60%;
}


.snapchat-img {
    width: 60%;
}


.pinterest-img {
    width: 60%;
}


.twitter-img {
    width: 60%;
}


.linkedin-img {
    width: 60%;
}