@media only screen and (max-width: 480px) {
    /*For mobile: */
    .top-container {
        width: 100%;
    }
    .h1 {
        font-size: 50%;
    }
    .p1 {
        font-size: 40%;
    }
    .profile-img {
        width: auto;
    }
    .about-me {
        width: auto;
        font-size: 30%;
    }
    .skills-languages {
        text-align: center;
        max-width: 20%;
        font-size: 20%;
        size: 50%;
    }
    .education {
        margin: 0 5% 0 5%;
    }
    .other-education {
        margin: 0 5% 0 5%;
    }
    .other-skills{
        margin: 0 5% 0 5%;
    }
    .bottom-container {
        size: 30%;
    }
}


body {
    margin: 0px;
    text-align: center;
}


.top-container {
    margin: 0;
    height: 750px;
    padding-top: 10px;
    background-image: url(../Image/pexels-evgeny-tchebotarev-4101555.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-position: 0px 20px;
    margin: 0 auto 0 auto;
}


h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;
    float: initial;
    margin: 60 auto 40 auto;
}


p1 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: white;
    margin: 0 auto 0 auto;
}


.middle-container {
    background-color: #ceebfd;
}


.profile-container {
    background-color: #e7f5fe;
}


.profile-img {
    width: 45%;
    margin: 100px 80px 100px 20px;
}


.about-me {
    margin: 100px 80px 100px 20px;
    
    background-color: #e7f5fe;
    text-align: justify;
    /* margin-right: auto;
    margin-left: auto; */
}


p2 {
    font-size: 150%;
    font-family: 'Khula', sans-serif;
    text-align: justify;
    margin: 0 auto 0 auto;
}


.skills-languages {
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    line-height: 3;
}



h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 225%;
    margin: 0 auto 0 auto;
}


p3 {
    font-size: 130%;
    font-family: 'Khula', sans-serif;
    margin: 0 auto 0 auto;
}


.education {
    text-align: center;
    line-height: 2;
}


h3 {
    font-family: 'Khula', sans-serif;
    font-size: 130%;
    font-weight: lighter;
    margin: 0 auto 0 auto;
}


p4 {
    font-family: 'Khula', sans-serif;
    font-size: 130%;
    text-align: center;
    margin: 0 auto 0 auto;
}


.other-education {
    text-align: center;
    line-height: 2;
}


.other-skills {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 3;
}


.bottom-container {
    background-color: #9dd7fb;
    padding: 40px 0 5px;
    text-align: center;
}


h5 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    margin: 5px 0;
}


h6 {
    font-size: 15px;
    font-family: 'Raleway';
    margin: 25px 0 0 25px;
}

.social-media-btn {
    background-color: #9dd7fb;
    border: 0ch;
    margin: 20px 1px ;
}

.social-media-btn:hover {
    background-color: #b6e1fc;
}

.facebook-img {
    width: 60%;
}


.instagram-img {
    width: 60%;
}


.snapchat-img {
    width: 60%;
}


.pinterest-img {
    width: 60%;
}


.twitter-img {
    width: 60%;
}


.linkedin-img {
    width: 60%;
}